* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    width: 100%;
    height: 100%;
    background-color: #3c3f41;
    display: grid;
    grid-template-rows: 20vh 80vh;
}



.header {
    grid-row: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    padding: 5px;
    background: #3c3f41;
    border-bottom: 1px solid white;
}
.schedule {
    grid-column: 2;
}
.task {
    grid-column: 4;
}
.logo {
    background: transparent;
    border: transparent;
    grid-column-start: 7;
    grid-column-end: 10;
}
.chat {
    grid-column: 12;
}
.profile {
    grid-column: 14;
}
.madiLogo {
    width: 100px;
}
.btnHeader {
    padding: 10px;
    background: #2c2c2c;
    border: white solid 1px;
    border-radius: 15px;
}
img {
    width: 50px;
    height: 50px;
}
.trans {
    background: transparent;
}






.container {
    grid-row: 2;
    width: 100%;
    height: 100%;
    background-color: #3c3f41;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr 450px 1fr;
}
.addScheduleLocal {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    border-radius: 15px;
    border: white 1px solid;
    display: grid;
    grid-template-rows: 30px 400px 1fr;
    grid-template-columns: 1fr 400px 1fr;
}
.exitToSchedule {
    text-align: center;
    grid-row: 1;
    grid-column: 2;
}
.form {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.firstName {
    grid-row: 2;
}
.lastName {
    grid-row: 3;
}
.email {
    grid-row: 4;
}
.select {
    grid-row: 5;
    padding-top: 10px;
}
.selectInDiv {
    width: 100%;
}
.avatarInput {
    grid-row: 6;
}
.saveLocalFriend {
    grid-row: 7;
}
.firstName, .lastName, .email {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.exit {
    text-align: center;
}
.selector {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.chatSelect {
    background-color: #ff9a19;
    padding: 15px 100px;
    grid-column: 1;
    grid-row: 1;
}
.contactSelect {
    background-color: #c20e0e;
    padding: 15px 100px;
    grid-column: 2;
    grid-row: 1;
}
.addContact {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
}
.addContactLocal {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
}
.pChat {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
}
.pContact {
    background-color: #1071B5;
    color: white;
    border-radius: 10px;
}
.pInContainer {
    text-align: center;
    width: 100px;
    font-size: 18px;
}
.containerWithContact {
    width: 100%;
    height: 100%;
}
.contactField {
    background-color: #ffc4c4;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}
.foundField {
    background-color: #aeaeae;
    width: 100%;
    height: 100%;
}
.found {
    height: 60px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.inputFullName {
    grid-column: 1;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.foundButton {
    grid-column: 2;
    font-size: 30px;
}
.error {
    border-bottom: 2px solid red;
}
.msg {
    border: 2px solid #c20e0e;
    border-radius: 15px;
    background: #ffc4c4;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.none {
    display: none;
}


.sqlResult, .sqlResultFromList {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    border: #0e0e0e 1px solid;
}
.sqlResultFriends {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    border: #0e0e0e 1px solid;
}
.sqlResultAvatar, .sqlResultFromListAvatar, .sqlResultFriendsAvatar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    width: 100%;
    height: 100%;
}
.avatar {
    height: 58px;
    width: 58px;
}
.sqlResultFirstName, .sqlResultFromListFirstName, .sqlResultFriendsFirstName {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
}
.sqlResultLastName .sqlResultFromListLastName, .sqlResultFriendsLastName {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
}
.sqlResultWork, .sqlResultFromListWork, .sqlResultFriendsWork {
    grid-row: 1;
    grid-column: 3;
    width: 100%;
    height: 100%;
}
.sqlResultClass, .sqlResultFromListClass, .sqlResultFriendsClass {
    grid-row: 2;
    grid-column: 3;
    width: 100%;
    height: 100%;
}
.sqlResultButtonToFriends, .sqlResultButtonFromList {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 4;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
}